@import "tailwindcss";

@theme {
  /* colours */
  --color-primary: #328E6E;
  --color-secondary: #E1EEBC;
  --color-accent: #FFB823;
  --color-error: #DF3F40;
  --color-border: #E3E6EA;
  --color-background: #FFFFFF;

  /* fonts */
  --font-sans: "Inter", sans-serif;
  --font-arial: "Arial", sans-serif;
}